<mat-card>
  <mat-card-header>
    <mat-card-title>{{cityWeather.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <article>
      <div class="content__temp" role="article">
        <span role="heading">Current Temperature: {{cityWeather.main.temp}}° Celsius </span>
        <span role="heading"
              class="flex"></span>
        <span role="heading">AVG today: {{cityWeather.avgTemp}}°</span>
      </div>
      <div class="content__wind" role="article">
        Wind: {{cityWeather.wind.speed}} Km/hour - Direction: {{cityWeather.wind.deg}} Degrees
      </div>
    </article>
  </mat-card-content>
</mat-card>