@import '~@angular/material/theming';

:host {
    mat-toolbar {
        @include mat-elevation(6);
        position: sticky;
        top: 0;
        z-index: 1;
        justify-content: space-between;
        text-align: center;
    }
}