<mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle>Thank you for checking the app!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Making this application couldn't be possible without the <a href="https://openweathermap.org/">Open Weather Map API</a>. and <a href="https://material.angular.io">Angular Material Design</a>
      </p>
      <h4>Functionality</h4>
      <p>We will use Open Weather Data to create a single page application that presents a list of 5 European cities (you
          can choose the ones you prefer).
          Your goal is to get the current weather situation displaying the city name plus average temperature and the wind
          strength. Clickin4g on an item shows the forecast in the next hours.
          You can adjust the UI how you see fit for the best result but sticking to a single page application is mandatory. </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/home">Go back to the main screen</button>
    </mat-card-actions>
  </mat-card>